# Core functionality - changes here should be rare!
/src/app.py                   @HugoBarRam
/src/backend/database.py      @HugoBarRam
/src/backend/routers/auth.py  @HugoBarRam

# The frontend will need refactored soon to be more object oriented.
/src/static/   @HugoBarRam
